.about__wrapper {
  width: 260px;
  padding: 11px 30px 0 30px;
  margin: 0 auto;
}

.about__title {
  margin-bottom: 83px;
}

.about__list {
  list-style-type: none;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.about__item:not(:last-child) {
  margin-bottom: 83px;
}

.about__item {
  position: relative;
}

.about__item--material::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 38px;
  bottom: 56px;
  left: 8px;
  background-image: url("../img/material-icon.svg");
}

.about__item--style::before {
  content: "";
  position: absolute;
  width: 47px;
  height: 27px;
  bottom: 66px;
  background-image: url("../img/style-icon.svg");
}

.about__item--like::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 27px;
  bottom: 61px;
  left: 7px;
  background-image: url("../img/like-icon.svg");
}

.about__item--handmade::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 34px;
  bottom: 57px;
  left: 3px;
  background-image: url("../img/handmade-icon.svg");
}

.about__item--support::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 23px;
  bottom: 66px;
  left: -6px;
  background-image: url("../img/support-icon.svg");
}

.about__item--wrap::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 32px;
  bottom: 60px;
  left: 3px;
  background-image: url("../img/wrap-icon.svg");
}

@media (min-width: @tablet-width) {
  .about__wrapper {
    width: 668px;
    padding: 22px 50px 0 50px;
  }

  .about__title {
    margin-bottom: 98px;
  }

  .about__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(235px, 325px));
    column-gap: 10px;
    row-gap: 111px;
    font-size: 20px;
    line-height: 22px;
  }

  .about__item--style {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .about__item--like {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .about__item:not(:last-child) {
    margin-bottom: 0;
  }

  .about__item--material::before {
    bottom: 63px;
    left: 8px;
  }

  .about__item--style::before {
    bottom: 72px;
    left: 1px;
  }

  .about__item--like::before {
    bottom: 67px;
    left: 8px;
  }

  .about__item--handmade::before {
    bottom: 64px;
    left: 1px;
  }

  .about__item--support::before {
    bottom: 73px;
    left: -7px;
  }

  .about__item--wrap::before {
    bottom: 66px;
    left: 2px;
  }
}

@media (min-width: @desktop-width) {
  .about__wrapper {
    width: 700px;
    padding: 23px 225px 0 225px;
  }

  .about__title {
    margin-bottom: 95px;
  }

  .about__list {
    column-gap: 25px;
  }
}
