.catalog {
  margin-bottom: 30px;
}

.catalog__list {
  padding: 0;
  margin: 0;
}

.catalog-list {
  list-style-type: none;
}

.catalog-item {
  border-bottom: 1px solid #ececec;
}

.catalog__item:not(:last-child) {
  margin-bottom: 30px;
}

.catalog-link {
  text-decoration: none;
  color: #000000;
}

.catalog__image {
  margin-left: 30px;
}

.catalog-image {
  display: block;
}

.catalog__title {
  margin-left: 58px;
  margin-bottom: 6px;
}

.catalog-title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.catalog__text {
  margin: 0;
  margin-left: 58px;
  margin-bottom: 41px;
  position: relative;
}

.catalog-text {
  font-size: 13px;
  line-height: 30px;
}

.catalog-text::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 204px;
  border-bottom: 1px solid #ececec;
  top: 50px;
  right: 42px;
}

.catalog-buy {
  display: flex;
}

.catalog__price {
  margin-left: 58px;
}

.catalog-price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

.catalog__button {
  margin-left: 100px;
}

.catalog-button {
  display: block;
}
