.contacts {
  margin-bottom: 37px;
  position: relative;
}

.contacts__wrapper {
  width: 260px;
  padding: 17px 30px 0 30px;
  margin: 0 auto;
}

.contacts__title {
  margin-bottom: 28px;
}

.contacts__address {
  margin-bottom: 526px;
}

.contacts__item {
  display: grid;
  grid-template-columns: 76px auto;
  font-size: 14px;
  line-height: 30px;
  padding-bottom: 30px;
}

.contacts__name {
  grid-column: 1;
}

.contacts__description {
  grid-column: 2;
  margin-left: 0;
}

.contacts__description-link {
  display: block;
  position: relative;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: #46c1ae;
  }

  &:active::after {
    opacity: 10%;
  }
}

.contacts__description-link::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 167px;
  border-bottom: 1px solid #62d1ba;
  left: 2px;
  top: 25px;
}

.contacts__container {
  width: 100%;
  height: 454px;
  background-image: url("../img/map-tablet.png");
  background-position: center;
  position: absolute;
  top: 305px;
  left: 0;
}

.contacts__container::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 100px;
  top: 145px;
  left: 43%;
  background-image: url("../img/map-pin.svg");
  background-position: center;
  z-index: 0;
}

.contacts__map {
  width: 100%;
  position: absolute;
  z-index: 1;
}

@media (min-resolution: 2dppx) {
  .contacts__container {
    background-image: url("../img/map-tablet@2x.png");
    background-size: cover;
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    margin-bottom: 56px;
  }

  .contacts__wrapper {
    width: 668px;
    padding: 68px 50px 0 50px;
  }

  .contacts__title {
    position: relative;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .contacts__title::after {
    content: "";
    position: absolute;
    width: 47px;
    height: 81px;
    background-image: url("../../img/flag-icon.svg");
    left: 618px;
    top: -20px;
  }

  .contacts__address {
    display: grid;
    grid-template-columns: 308px 335px;
    column-gap: 25px;
    margin-bottom: 528px;
  }

  .contacts__item {
    font-size: 17px;
  }

  .contacts__description-link::after {
    width: 204px;
    top: 28px;
  }

  .contacts__container::after {
    left: 46%;
  }

  .contacts__button {
    width: 230px;
    margin: 0 auto;
    font-size: 17px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    width: 1050px;
    margin: 0 auto 104px auto;
  }

  .contacts__wrapper {
    width: 875px;
    padding: 136px 50px 0 175px;
  }

  .contacts__title {
    margin-bottom: 36px;
  }

  .contacts__title::after {
    left: -112px;
    top: -17px;
  }

  .contacts__address {
    display: block;
    margin-bottom: 63px;
  }

  .contacts__item {
    grid-template-columns: 55px auto;
    column-gap: 20px;
    font-size: 17px;
    padding-bottom: 19px;
    margin-bottom: 10px;
  }

  .contacts__description-link::after {
    top: 31px;
  }

  .contacts__container {
    width: 527px;
    height: 457px;
    background-image: url("../img/map-desktop.png");
    top: 56px;
    right: 0;
    margin-left: auto;
  }

  .contacts__container::after {
    top: 145px;
    left: 46%;
  }

  .contacts__map {
    width: 527px;
    height: 457px;
  }

  .contacts__button {
    margin: 0;
  }

  @media (min-resolution: 2dppx) {
    .contacts__container {
      background-image: url("../img/map-desktop@2x.png");
      background-size: 527px 457px;
    }
  }
}
