.control {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  display: block;
  padding-left: 60px;

  &:hover .control__mark {
    border: 2px solid #62d1ba;
  }
}

.control__mark--radio {
  position: absolute;
  left: 0;
  top: -5px;
  width: 36px;
  height: 36px;
  border: 2px solid #444444;
  border-radius: 50%;
}

.control__mark--toy {
  top: -12px;
}

.control__input {
  &:checked + .control__mark--radio::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: #62d1ba;
    border-radius: 50%;
    top: 10px;
    left: 10px;
  }

  &:disabled + .control__mark {
    border-color: rgba(0, 0, 0, 0.3);
  }
}

.control__label {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.control__mark--check {
  position: absolute;
  left: 0;
  top: -11px;
  width: 34px;
  height: 34px;
  border: 2px solid #444444;
}

.control__input--check {
  &:checked + .control__mark--check::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 10px;
    background-color: #000000;
    top: 16px;
    left: 10px;
    transform: rotate(-45deg);
  }

  &:checked + .control__mark--check::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 21px;
    background-color: #000000;
    top: 7px;
    left: 21px;
    transform: rotate(45deg);
  }

  &:disabled + .control__mark {
    border-color: rgba(0, 0, 0, 0.3);
  }
}


@media (min-width: @tablet-width) {
  .control {
    padding-left: 80px;
  }

  .control__label {
    display: block;
    margin-left: 0;
    font-size: 19px;
  }

  .control__mark--radio {
    position: absolute;
    left: 3px;
    top: -16px;
    width: 46px;
    height: 46px;
    border: 2px solid #444444;
    border-radius: 50%;
  }

  .control__input {
    &:checked + .control__mark--radio::after {
      width: 21px;
      height: 21px;
      top: 13px;
      left: 13px;
    }
  }

  .control__mark--check {
    left: 0;
    top: -16px;
    width: 48px;
    height: 48px;
  }

  .control__input--check {
    &:checked + .control__mark--check::after {
      width: 2px;
      height: 16px;
      top: 22px;
      left: 14px;
      transform: rotate(-45deg);
    }

    &:checked + .control__mark--check::before {
      width: 2px;
      height: 27px;
      top: 11px;
      left: 29px;
      transform: rotate(45deg);
    }
  }
}

@media (min-width: @desktop-width) {
  .control__mark--radio {
    left: 0;
  }

  .control__mark--check {
    left: -1px;
    top: -20px;
  }
}
