.featured-card {
  margin-bottom: 73px;
}

.featured-card__title {
  margin: 0;
  margin-left: 30px;
}

.featured-card__attention {
  color: #63d1bb;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 17.5px;
  margin-left: 30px;
}

.featured-card__text {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 28px;
  margin-left: 30px;
}

.featured-card__parameters {
  margin-bottom: 27px;
}

.featured-card__item {
  display: grid;
  grid-template-columns: 23% auto;
  border-bottom: 1px solid #ececec;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-left: 30px;
}

.featured-card__property {
  grid-column: 1;
}

.featured-card__definition {
  grid-column: 2;
}

.featured-card__image {
  display: block;
  margin-left: 30px;
}

.featured-card__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 24.5px;
  margin-left: 82px;
}

.featured-card__button {
  margin-left: 30px;
}
