.field {
  border: none;
  margin: 0;
  margin-bottom: 20px;
}

.field__name {
  text-transform: uppercase;
  color: #63d1bb;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  position: relative;
  margin-bottom: 20px;
}

.field__name:not(:nth-child(n+3))::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 1px;
  border-bottom: 1px solid #62d1ba;
  left: 60px;
  top: 8px;
}

.field__name--email::after {
  content: "";
  position: absolute;
  width: 182px;
  height: 1px;
  border-bottom: 1px solid #62d1ba;
  left: 79px;
  top: 10px;
}

.field__list {
  width: 260px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 16px;
}

.field__list--checkbox {
  margin-top: 14px;
  margin-bottom: 0;
}

.field--name {
  padding-bottom: 14px;
}

.field__name--nsp {
  margin-bottom: 27px;
}

.field__list--nsp {
  margin: 0;
}

.field__item {
  margin-bottom: 24px;
}

.field__item--nsp {
  margin-bottom: 20px;
}

.field__item--nsp:last-child {
  margin-bottom: 0;
}


.field__item--checkbox {
  margin-bottom: 43px;
}

.field__item--checkbox:last-child {
  margin-bottom: 0;
}

.field__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.field__input {
  padding: 17px 8px 10px 0;
}

.field--contacts {
  margin-bottom: 13px;
}

.field__input--name {
  width: 252px;
  padding: 17px 10px 15px 0;
  margin-top: -2px;
}

.field__input--surname {
  width: 252px;
  padding: 17px 10px 15px 0;
  margin-top: -1px;
}

.field__input--patronymic {
  width: 252px;
  padding: 17px 10px 14px 0;
  margin-top: -1px;
}

.field__name--email::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 21px;
  background-image: url("../img/catalog-images/mail-icon.svg");
  left: 226px;
  top: 40px;
  z-index: 2;
  opacity: 70%;
  filter: saturate(0%);
}

.field__name--add {
  display: block;
  margin-bottom: 23px;
}

.field__input--desired {
  box-sizing: border-box;
  border: 2px solid #000000;
  width: 260px;
  padding: 15px;
  resize: none;
  font-family: "opensans", "Arial", sans-serif;
  margin-bottom: 0;

  &:active,
  &:focus-within {
    color: rgba(0, 0, 0, 1);
    border: 2px solid #62d1ba;
  }
}
/* stylelint-disable */
.field__input--phone::-webkit-outer-spin-button,
.field__input--phone::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

/* stylelint-enable */
.field__input--phone {
  width: 220px;
  padding: 13px 40px 17px 0;
  margin-top: -1px;
  margin-bottom: 31px;
}


.field__name--phone {
  &:hover::before {
    opacity: 100%;
    filter: none;
  }
}

.field__name--phone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 24px;
  background-image: url("../img/catalog-images/phone-icon.svg");
  left: 228px;
  top: 35px;
  z-index: 2;
  opacity: 70%;
  filter: saturate(0%);
}

.field__input--email {
  width: 220px;
  padding: 18px 40px 16px 0;
}

.field__name--email {
  &:hover::before {
    opacity: 100%;
    filter: none;
  }
}

/* stylelint-disable */
@-moz-document url-prefix() {
  .field__input--name {
    width: 252px;
    padding: 13px 8px 13px 0;
  }

  /* stylelint-enable */
  .field__input--surname {
    width: 252px;
    padding: 14px 8px 12px 0;
  }

  .field__input--patronymic {
    width: 252px;
    padding: 14px 8px 12px 0;
  }

  .field__name--nsp {
    margin-bottom: 18px;
  }
/* stylelint-disable */
  .field__input--phone {
    padding: 13px 40px 13px 0;
    -moz-appearance: number-input;
    -moz-appearance: textfield;
  }

/* stylelint-enable */
  .field__input--email {
    width: 220px;
    padding: 14px 40px 14px 0;
  }

  .field__name--add {
    display: block;
    margin-bottom: 21px;
  }

  .field__input--desired {
    margin-bottom: 4px;
  }

  .field__item--nsp:first-child {
    margin-top: 10px;
  }
}

@media (min-width: @tablet-width) {
  .field {
    border: none;
    display: grid;
    grid-template-columns: 150px auto;
    column-gap: 17px;
    padding-top: 0;
    padding-bottom: 41px;
    margin: 0 auto;
  }

  .field--color {
    padding-bottom: 10px;
  }

  .field__name {
    margin-bottom: 0;
    grid-column: 1/2;
  }

  .field__name:not(:nth-child(n+3))::after {
    display: none;
  }

  .field__name--email::after {
    display: none;
  }

  .field__list {
    width: 498px;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: -15px;
  }

  .field__item:not(:last-child) {
    margin-bottom: 58px;
  }

  .field__list--checkbox {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 55px;
    margin-bottom: 0;
  }

  .field__item--checkbox {
    margin-bottom: 56px;
  }

  .field__label {
    grid-column: 2/3;
    font-size: 19px;
    position: relative;
    margin-bottom: 55px;
  }

  .field--name {
    padding-top: 80px;
    padding-bottom: 63px;
    position: relative;
  }

  .field__name--nsp {
    position: absolute;
    top: 67px;
    font-size: 17px;
  }

  .field__item--nsp:not(:last-child) {
    margin-bottom: 55px;
  }

  .field__list--nsp {
    margin-bottom: 0;
  }

  .field__input--name {
    width: 402px;
    padding: 21px 8px 12px 18px;
    position: absolute;
    left: 73px;
    top: -20px;
  }

  .field__input--surname {
    width: 352px;
    padding: 17px 8px 12px 16px;
    position: absolute;
    left: 125px;
    top: -18px;
  }

  .field__input--patronymic {
    width: 348px;
    padding: 17px 8px 12px 17px;
    position: absolute;
    left: 125px;
    top: -20px;
  }

  .field--contacts {
    width: 668px;
    position: relative;
    padding-bottom: 66px;
  }

  .field__name--phone,
  .field__name--email {
    margin-left: -170px;
    max-width: 150px;
    position: relative;
    margin-bottom: 60px;
    font-size: 17px;
  }

  .field__input--phone,
  .field__input--email {
    width: 424px;
    background-color: #f1f1f1;
    position: absolute;
  }

  .field__input--phone {
    padding: 14px 60px 14px 17px;
    left: 170px;
    top: -19px;
  }

  .field__name--phone::before {
    left: 620px;
    top: -3px;
  }

  .field__input--email {
    padding: 15px 60px 12px 18px;
    left: 170px;
    top: -20px;
  }

  .field__name--email {
    margin-bottom: 0;
  }

  .field__name--email::before {
    left: 618px;
    top: -1px;
  }

  .field--add {
    padding-top: 49px;
    padding-bottom: 52px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  .field__name--add {
    font-size: 17px;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
  }

  .field__input--desired {
    width: 501px;
    height: 142px;
    padding: 17px;
    margin-left: auto;
    margin-bottom: 51px;
  }
/* stylelint-disable */
  @-moz-document url-prefix() {
    .field__list--nsp {
      margin-top: -25px;
    }
  }
}

/* stylelint-enable */
@media (min-width: @desktop-width) {
  .field {
    padding-left: 23px;
    grid-template-columns: 150px auto;
    column-gap: 14px;
  }

  .field__list {
    width: 880px;
    margin-top: -17px;
  }

  .field__list--checkbox {
    width: 880px;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    column-gap: 12px;
    margin-top: -14px;
  }

  .field--color {
    padding-bottom: 8px;
  }

  .field--name {
    column-gap: 14px;
    padding-left: 26px;
  }

  .field--contacts {
    width: 1050px;
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
  }

  .field__name--nsp {
    grid-column: 1/2;
  }

  .field__list--nsp {
    grid-column: 2/3;
    margin-top: -15px;
  }

  .field__label {
    margin-left: 0;
    font-size: 19px;
    position: relative;
    margin-bottom: 59px;
  }

  .field__name {
    margin-bottom: 0;
    margin-left: 46px;
  }

  .field__name--phone,
  .field__name--email {
    margin-left: 46px;
    max-width: 150px;
    position: relative;
    margin-bottom: 62px;
  }

  .field__name--phone::before {
    left: 785px;
    top: -4px;
  }

  .field__name--email {
    margin-bottom: 0;
  }

  .field__name--email::before {
    left: 781px;
    top: -3px;
  }

  .field__input {
    position: absolute;
    top: -20px;
    left: 130px;
  }

  .field__input--name {
    width: 602px;
    padding: 16px 8px 12px 18px;
    left: 70px;
    top: -16px;
  }

  .field__input--surname {
    width: 550px;
    padding: 17px 8px 11px 16px;
    left: 125px;
    top: -16px;
  }

  .field__input--patronymic {
    width: 550px;
    padding: 16px 8px 11px 17px;
    left: 125px;
    top: -16px;
  }

  .field__input--phone,
  .field__input--email {
    width: 621px;
    background-color: #f1f1f1;
    top: -20px;
    left: 118px;
  }

  .field__input--phone {
    padding: 14px 60px 14px 17px;
  }

  .field__input--email {
    top: -23px;
    padding: 15px 60px 12px 18px;
  }

  .field__name--add {
    margin-left: 46px;
  }

  .field__input--desired {
    width: 700px;
    position: static;
    margin-left: 60px;
    margin-bottom: 49px;
  }

/* stylelint-disable */
  @-moz-document url-prefix() {
    .field__list--nsp {
      margin-top: -25px;
    }
  }
  /* stylelint-enable */
}
