.main-header {
  width: 100vw;
  margin: 0 auto;
  position: relative;
  background-color: #ffffff;
  color: #000000;
}

.main-header__wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.main-header__navigation {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 22px;
}

.main-header__navigation-mobile {
  display: flex;
}

.main-header__navigation-tablet {
  display: none;
}

.main-header__navigation-desktop {
  display: none;
}

.main-header__logo {
  display: block;
  width: 86px;
  margin: 0 auto;
  margin-bottom: 22px;

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.main-header__toggle {
  width: 20px;
  height: 14px;
  position: absolute;
  right: 30px;
  top: 32px;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #ffffff;
}

.main-header__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.main-header__list--mobile {
  margin: 0;
  list-style-type: none;
}

.main-header__item--mobile {
  width: 100vw;
  display: grid;
  grid-template-columns: 280px;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-header__item--mobile:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.main-header__item--mobile:last-child {
  border-bottom: none;
}

.main-header__link {
  text-decoration: none;
  color: #000000;

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.main-header__link--mobile {
  display: inline-block;
  max-width: 320px;
  padding: 28.5px 46px 26.5px 56px;
}

.main-header__link--mobile-search {
  position: relative;

  &:hover {
    opacity: 100%;
  }

  &:hover .main-header__search-icon {
    opacity: 100%;
    fill: #63d1bb;
  }

  &:hover span {
    opacity: 60%;
  }

  &:active .main-header__search-icon {
    opacity: 30%;
  }

  &:active span {
    opacity: 30%;
  }
}

.main-header__search-icon {
  opacity: 0.2;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 10px;
  top: 32px;
}

.main-header__link--mobile-cart {
  position: relative;

  &:hover {
    opacity: 100%;
  }

  &:hover .main-header__cart-icon {
    opacity: 100%;
    fill: #63d1bb;
  }

  &:hover span {
    opacity: 60%;
  }

  &:active .main-header__cart-icon {
    opacity: 30%;
  }

  &:active span {
    opacity: 30%;
  }
}

.main-header__cart-icon {
  opacity: 0.2;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 10px;
  top: 32px;
}

.main-header__navigation-mobile--opened .main-header__list-container {
  top: 79px;
  left: 0;
  width: 100vw;
  position: absolute;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.main-header__navigation-mobile--opened .main-header__toggle::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  right: 0;
  bottom: 0;
  background-image: url("../img/menu-close-icon.svg");
}

.main-header__navigation-mobile--closed .main-header__list-container {
  display: none;
}

.main-header__navigation-mobile--closed .main-header__toggle::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 14px;
  right: 0;
  top: 0;
  background-image: url("../img/menu-open-icon.svg");
}

.main-header__navigation-mobile--nojs .main-header__toggle {
  display: none;
}

.main-header__navigation-mobile--nojs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.main-header__navigation-mobile--nojs .main-header__list-container {
  position: static;
  margin: 0 auto;
}

.main-header__navigation-mobile--nojs .main-header__item--mobile:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.main-header__navigation-mobile--nojs .main-header__item--mobile:last-child {
  border-bottom: none;
}

@media (min-width: @tablet-width) {
  .main-header__navigation {
    padding-top: 0;
    padding-bottom: 10px;
  }

  .main-header__navigation-mobile {
    display: none;
  }

  .main-header__navigation-tablet {
    display: flex;
    flex-wrap: wrap;
  }

  .main-header {
    padding: 0;
  }

  .main-header__wrapper {
    position: relative;
    max-width: 668px;
    margin: 0 auto;
  }

  .main-header__list--tablet-main,
  .main-header__list--tablet-secondary {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .main-header__list--tablet-main {
    margin-left: auto;
  }

  .main-header__list--tablet-secondary {
    max-width: 360px;
    position: absolute;
    top: 90px;
    z-index: 1;
  }

  .main-header__item--tablet {
    padding: 0;
    font-size: 15px;
    padding-right: 30px;
  }

  .main-header__search-icon {
    opacity: 0.2;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 33px;
    top: 40px;
  }

  .main-header__link--tablet-search {
    width: 18px;
    height: 18px;
    position: relative;
    padding: 36px 31px 34px 33px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);

    &:hover {
      opacity: 100%;
    }

    &:hover .main-header__search-icon {
      opacity: 100%;
      fill: #63d1bb;
    }

    &:hover span {
      opacity: 60%;
    }

    &:active .main-header__search-icon {
      opacity: 30%;
    }

    &:active span {
      opacity: 30%;
    }
  }

  .main-header__cart-icon {
    opacity: 0.2;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 31px;
    top: 35px;
  }

  .main-header__link--tablet-cart {
    position: relative;
    padding: 32.5px 0 30px 73px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);

    &:hover {
      opacity: 100%;
    }

    &:hover .main-header__cart-icon {
      opacity: 100%;
      fill: #63d1bb;
    }

    &:hover span {
      opacity: 60%;
    }

    &:active .main-header__cart-icon {
      opacity: 30%;
    }

    &:active span {
      opacity: 30%;
    }
  }

  .main-header__item--tablet-search {
    padding-top: 18px;
    padding-right: 18px;
  }

  .main-header__item--tablet-cart {
    font-size: 17px;
    padding: 0;
    padding-top: 20px;
  }

  .main-header__logo--tablet {
    padding-top: 12px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    padding: 0;
  }

  .main-header__wrapper {
    position: relative;
    max-width: 1050px;
    margin: 0 auto;
  }

  .main-header__navigation {
    padding-top: 0;
    padding-bottom: 0;
  }

  .main-header__navigation-tablet {
    display: none;
  }

  .main-header__navigation-desktop {
    display: flex;
    justify-content: space-between;
  }

  .main-header__list--desktop-main,
  .main-header__list--desktop-secondary {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .main-header__logo--desktop {
    margin: 0;
    margin-right: 150px;
    padding-top: 10px;
  }

  .main-header__item--desktop {
    padding: 0;
    padding-top: 20px;
    font-size: 17px;
  }

  .main-header__item--desktop-catalog {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 30px;
  }

  .main-header__link--desktop-catalog {
    padding: 32.5px 30px 33.5px 0;
  }

  .main-header__link--desktop-order {
    padding: 32.5px 0 33.5px 30px;
  }

  .main-header__item--desktop-order {
    padding-top: 30px;
  }

  .main-header__item--desktop-search {
    padding-top: 30px;
    padding-right: 18px;
  }

  .main-header__item--desktop-cart {
    font-size: 17px;
    padding: 0;
    padding-top: 30px;
    padding-right: 0;
  }

  .main-header__search-icon {
    opacity: 0.2;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 33px;
    top: 40px;
  }

  .main-header__link--desktop-search {
    position: relative;
    padding: 36px 31px 34px 33px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);

    &:hover {
      opacity: 100%;
    }

    &:hover .main-header__search-icon {
      opacity: 100%;
      fill: #63d1bb;
    }

    &:hover span {
      opacity: 60%;
    }

    &:active .main-header__search-icon {
      opacity: 30%;
    }

    &:active span {
      opacity: 30%;
    }
  }

  .main-header__cart-icon {
    opacity: 0.2;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 31px;
    top: 35px;
  }

  .main-header__link--desktop-cart {
    position: relative;
    padding: 32.5px 0 34px 73px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);

    &:hover {
      opacity: 100%;
    }

    &:hover .main-header__cart-icon {
      opacity: 100%;
      fill: #63d1bb;
    }

    &:hover span {
      opacity: 60%;
    }

    &:active .main-header__cart-icon {
      opacity: 30%;
    }

    &:active span {
      opacity: 30%;
    }
  }
}
