.main-footer {
  background-color: #f1f1f1;
  padding: 25px 39px 22px 39px;
}

.main-footer__list {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.social {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin-right: 29px;
}
