.main-footer {
  width: 100vw;
  background-color: #f1f1f1;
  padding: 29px 0 22px 0;
  position: relative;
}

.main-footer__wrapper {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-footer__logo {
  display: none;
}

.main-footer__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-left: 60px;
  margin-bottom: 44px;
  padding: 0;
  max-width: 180px;
}

.main-footer__item {
  margin-right: 36px;
  margin-bottom: 20px;
}

.main-footer__item:first-child {
  margin-right: 31px;
}

.main-footer__link {
  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 30%;
  }
}

.main-footer__item:last-child {
  margin-right: 0;
}

.main-footer__copyright {
  display: flex;
  position: relative;
  margin-left: 13px;
}

.main-footer::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100vw;
  border-bottom: 1px solid #e5e5e5;
  bottom: 77px;
}

.main-footer__copyright-text {
  padding: 0;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
  margin-right: 28px;
}

.html-logo {
  fill: #63d1bb;
  margin-top: -7px;
}

.main-footer__copyright-link {
  display: flex;
  margin-left: 27px;
  margin-top: -8px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &:hover .html-logo {
    fill: #46c1ae;
  }

  &:active .html-logo {
    opacity: 30%;
  }
}

@media (min-width: @tablet-width) {
  .main-footer {
    padding: 0;
  }

  .main-footer__wrapper {
    width: 668px;
    flex-direction: row;
    justify-content: space-between;
    padding: 52px 50px 58px 50px;
  }

  .main-footer__logo {
    display: block;
    margin-right: 27px;

    &:hover svg {
      fill: #46c1ae;
    }

    &:active svg {
      opacity: 30%;
    }
  }

  .main-footer__list {
    margin: 0;
    margin-top: 8px;
    max-width: 300px;
  }

  .main-footer::before {
    display: none;
  }

  .main-footer__copyright {
    margin: 0;
    margin-top: 16px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__wrapper {
    width: 1050px;
  }

  .main-footer__list {
    max-width: 500px;
  }
}
