.manufacture {
  margin-bottom: 58px;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
}

.manufacture__title {
  margin-left: 91px;
  margin-bottom: 26.5px;
}

.manufacture-title {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.manufacture__video {
  margin-bottom: 35px;
}

.manufacture__text {
  margin-left: 34px;
  margin-bottom: 41px;
}

.manufacture-text {
  font-size: 13px;
  line-height: 24px;
}

.manufacture__button {
  margin-bottom: 51px;
  margin-left: 30px;
}
