.order__text {
  font-size: 13px;
  line-height: 24px;
  margin-left: 30px;
  margin-bottom: 29px;
}

.order__field {
  padding: 0;
  margin-left: 30px;
}

.order__tip {
  font-size: 14px;
  line-height: 16px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.order__button {
  margin-left: 30px;
  margin-bottom: 55px;
}

