.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  min-width: 320px;
  box-sizing: border-box;
  font-family: "opensans", "Arial", sans-serif;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .page__body {
    min-width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .page__body {
    min-width: 1150px;
  }
}
