.presentation {
  background-image: url("../../img/index-background.jpg");
  background-position: top;
  padding-top: 73px;
  margin-bottom: 31px;
}

.presentation--catalog {
  background-color: #f1f1f1;
  background-image: none;
  padding-bottom: 73px;
}

.presentation--form {
  background-color: #f1f1f1;
  background-image: none;
  padding-bottom: 73px;
  margin-bottom: 17px;
}

.presentation__title {
  margin-bottom: 120px;
}

.presentation-title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.presentation__title--catalog {
  margin: 0;
}

.presentation__title--form {
  margin: 0;
}
