.presentation {
  width: 100vw;
  padding-top: 73px;
  background-image: url("../../img/index-background.jpg");
  block-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #f9f9f9;
  margin-bottom: 31px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.presentation--catalog {
  background-color: #f1f1f1;
  background-image: none;
  padding-bottom: 73px;
}

.presentation--form {
  background-color: #f1f1f1;
  background-image: none;
  padding-bottom: 73px;
  margin-bottom: 17px;
}

.presentation__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin-bottom: 120px;
  margin-left: 10px;
}

.presentation__title--catalog {
  margin: 0;
}

.presentation__title--form {
  margin: 0;
}

.presentation__additional {
  display: none;
}

.presentation__products {
  width: 100vw;
}

.presentation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.presentation__item {
  background-color: #63d1bb;
  padding-left: 30px;
}

.presentation__item--toys {
  background-color: #56c3b2;
}

.presentation__link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  padding: 24px 160px 31px 0;
}

@media (min-width: @tablet-width) {
  .presentation {
    background-image: url("../../img/index-background-tablet.jpg");
    background-size: cover;
    padding-top: 0;
    margin-left: 0;
  }

  .presentation--catalog {
    background-color: #f1f1f1;
    background-image: none;
    padding-bottom: 10px;
  }

  .presentation--form {
    background-color: #f1f1f1;
    background-image: none;
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  .presentation__wrapper {
    max-width: 668px;
    margin: 0 auto;
  }

  .presentation__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 372px;
    margin-top: 111px;
    margin-left: 20px;
  }

  .presentation__title--catalog {
    margin: 101px auto 75px auto;
  }

  .presentation__title--form {
    margin: 101px auto 75px auto;
  }

  .presentation__additional {
    display: flex;
    justify-content: flex-end;
  }

  .presentation__additional-list {
    display: none;
  }

  .presentation__additional-delivery {
    display: block;
    font-size: 15px;
    line-height: 24px;
    padding-top: 14px;
  }

  .presentation__list {
    display: grid;
    grid-template-columns: auto auto;
  }

  .presentation__item {
    padding: 0;
  }

  .presentation__link {
    padding: 25px 167px 34px 36px;
    font-size: 20px;
    line-height: 30px;
  }

  .presentation__products {
    max-width: 668px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .presentation {
    margin-left: 0;
    background-image: url("../../img/index-background-desktop.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 0;
  }

  .presentation--catalog {
    background-color: #f1f1f1;
    background-image: none;
    padding-bottom: 10px;
  }

  .presentation--form {
    background-color: #f1f1f1;
    background-image: none;
  }

  .presentation__wrapper {
    max-width: 1050px;
  }

  .presentation__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 355px;
    margin-left: 50px;
  }

  .presentation__title--catalog {
    margin: 101px auto 75px auto;
  }

  .presentation__title--form {
    margin: 101px auto 75px auto;
  }

  .presentation__additional {
    justify-content: space-between;
    padding-top: 20px;
  }

  .presentation__additional-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .presentation__additional-item:not(:last-child) {
    margin-right: 45px;
  }

  .presentation__additional-delivery {
    font-size: 15px;
    line-height: 24px;
    padding-top: 0;
  }

  .presentation__products {
    max-width: 1050px;
    margin: 0;
  }
}
