.presentation {
  box-sizing: border-box;
  width: 100vw;
  height: 506px;
  padding-top: 73px;
  background-image: url("../img/index-background.jpg");
  block-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #f9f9f9;
  margin-bottom: 31px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.presentation--catalog {
  height: 177px;
  background-color: #f1f1f1;
  background-image: none;
  padding-bottom: 73px;
}

.presentation--form {
  height: 177px;
  background-color: #f1f1f1;
  background-image: none;
  padding-bottom: 73px;
  margin-bottom: 17px;
}

.presentation__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin-bottom: 120px;
  margin-left: 10px;
}

.presentation__title--catalog {
  margin: 0;
}

.presentation__title--form {
  margin: 0;
}

.presentation__additional {
  display: none;
}

.presentation__products {
  width: 100vw;
  position: absolute;
  bottom: 0;
}

.presentation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.presentation__item {
  background-color: #63d1bb;
  padding-left: 30px;
  height: 103px;
  bottom: 0;

  &:hover,
  &:active {
    background-color: #59d5bc;
    height: 108px;
  }
}

.presentation__item--interior {
  position: absolute;
  width: 100vw;
  bottom: 100px;
}

.presentation__item--toys {
  background-color: #56c3b2;
  position: absolute;
  width: 100vw;
  bottom: 0;

  &:hover,
  &:active {
    background-color: #46c1ae;
  }
}

.presentation__link--interior,
.presentation__link--toys {
  display: block;
  height: 48px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  padding: 24px 160px 31px 0;
  position: relative;
  cursor: pointer;
}

.presentation__link--interior::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 62px;
  right: 66px;
  top: 23px;
  background-image: url("../img/interior-icon.svg");
  opacity: 0.5;
}

.presentation__link--toys::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  right: 57px;
  top: 21px;
  background-image: url("../img/toy-icon.svg");
  opacity: 0.5;
}

.presentation__item--interior:hover .presentation__link--interior::before {
  top: 18px;
  opacity: 70%;
}

.presentation__item--interior:active .presentation__link--interior::before {
  opacity: 30%;
}

.presentation__item--toys:hover .presentation__link--toys::before {
  top: 16px;
  opacity: 70%;
}

.presentation__item--toys:active .presentation__link--toys::before {
  opacity: 30%;
}

@media (min-width: @tablet-width) {
  .presentation {
    height: 746px;
    background-image: url("../img/index-background-tablet.jpg");
    background-size: cover;
    padding-top: 0;
    margin-left: 0;
    position: relative;
  }

  .presentation::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 24px;
    background-image: url("../img/zigzag-presentation-tablet.svg");
    background-position: center;
    bottom: -10px;
  }

  .presentation--catalog {
    height: 238px;
    background-color: #f1f1f1;
    background-image: none;
    padding-bottom: 10px;
  }

  .presentation--form {
    height: 238px;
    background-color: #f1f1f1;
    background-image: none;
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  .presentation__wrapper {
    max-width: 668px;
    margin: 0 auto;
  }

  .presentation__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 372px;
    margin-top: 111px;
    margin-left: 20px;
  }

  .presentation__title--catalog {
    margin: 57px auto 75px auto;
  }

  .presentation__title--form {
    margin: 57px auto 75px auto;
  }

  .presentation__additional {
    display: flex;
    justify-content: flex-end;
  }

  .presentation__additional-list {
    display: none;
  }

  .presentation__additional-delivery {
    display: block;
    font-size: 15px;
    line-height: 24px;
    padding-top: 14px;
  }

  .presentation__list {
    display: grid;
    grid-template-columns: auto auto;
  }

  .presentation__item {
    padding: 0;
    width: 50%;
    height: 119px;
    position: absolute;

    &:hover,
    &:active {
      height: 124px;
    }
  }

  .presentation__item--interior {
    left: 0;
    bottom: 0;
  }

  .presentation__item--toys {
    right: 0;
  }

  .presentation__link {
    height: 64px;
    padding: 25px 167px 34px 36px;
    font-size: 20px;
    line-height: 30px;

    &:hover {
      height: 74px;
      padding: 20px 167px 34px 36px;
    }
  }

  .presentation__link--interior::before {
    width: 41px;
    height: 62px;
    right: 36px;
    top: 30px;
  }

  .presentation__item--interior:hover .presentation__link--interior::before {
    top: 25px;
  }

  .presentation__link--toys::before {
    width: 61px;
    height: 61px;
    right: 33px;
    top: 31px;
  }

  .presentation__item--toys:hover .presentation__link--toys::before {
    top: 24px;
  }

  .presentation__products {
    max-width: 668px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .presentation {
    height: 763px;
    background-image: url("../img/index-background-desktop.jpg");
    background-size: unset;
    background-repeat: no-repeat;
  }

  .presentation::after {
    height: 34px;
    background-image: url("../img/zigzag-presentation-desktop.svg");
    bottom: -10px;
  }

  .presentation--catalog {
    height: 272px;
    background-color: #f1f1f1;
    background-image: none;
    padding-bottom: 10px;
  }

  .presentation--form {
    height: 272px;
    background-color: #f1f1f1;
    background-image: none;
  }

  .presentation__wrapper {
    max-width: 1050px;
  }

  .presentation__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 355px;
    margin-left: 50px;
  }

  .presentation__title--catalog {
    margin: 58px auto 75px auto;
  }

  .presentation__title--form {
    margin: 58px auto 75px auto;
  }

  .presentation__additional {
    justify-content: space-between;
    padding-top: 20px;
  }

  .presentation__additional-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .presentation__additional-item:not(:last-child) {
    margin-right: 35px;
  }

  .presentation__additional-link {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    padding: 20px 20px 20px 0;

    &:hover {
      opacity: 60%;
    }

    &:active {
      opacity: 30%;
    }
  }

  .presentation__additional-delivery {
    font-size: 15px;
    line-height: 24px;
    padding-top: 0;
  }

  .presentation__products {
    max-width: 1050px;
    margin: 0;
  }

  .presentation__link--toys::before {
    width: 60px;
    height: 61px;
    right: 35px;
  }
}
