.reviews {
  position: relative;
}

.reviews__wrapper {
  width: 260px;
  padding: 36px 30px 47px 30px;
  margin: 0 auto;
  position: relative;
}

.reviews::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background-image: url("../img/zigzag-mobile-part.svg");
  bottom: 0;
  left: 0;
  right: 0;
}

.reviews__title {
  margin-bottom: 13px;
}

.reviews__list {
  list-style-type: none;
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.reviews__quote {
  margin: 0;
  padding: 0;
}

.reviews__text {
  margin-top: 0;
  margin-bottom: 35px;
}

.reviews__cite {
  display: block;
  font-style: normal;
  margin-bottom: 30px;
  line-height: 35px;
  font-size: 17px;
}

.reviews__author {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.reviews__toggles {
  display: flex;
  margin-bottom: 35px;
}

.reviews__toggle {
  display: block;
  flex-grow: 1;
  width: 130px;
  height: 52px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  padding: 13px 42px;
  position: relative;
  cursor: pointer;

  &:hover::before {
    opacity: 60%;
  }

  &:active::before {
    opacity: 30%;
  }
}

.reviews__toggle::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 26px;
  top: 10px;
  left: 38px;
  background-image: url("../img/prev-arrow.svg");
}

.reviews__toggle:last-child::before {
  transform: rotate(180deg);
}

@media (min-width: @tablet-width) {
  .reviews {
    padding-bottom: 15px;
  }

  .reviews__wrapper {
    width: 668px;
    padding: 129px 50px 85px 50px;
  }

  .reviews::after {
    height: 17px;
    background-image: url("../img/zigzag-tablet-part.svg");
    bottom: 0;
  }

  .reviews::before {
    content: "";
    position: absolute;
    width: 350px;
    height: 457px;
    background-image: url("../img/review-image.jpg");
    background-color: #f1f1f1;
    z-index: -1;
    top: 83px;
    left: 0;
  }

  .reviews__title {
    margin-bottom: 39px;
  }

  .reviews__list {
    font-size: 17px;
  }

  .reviews__text {
    margin-bottom: 61px;
  }

  .reviews__author {
    font-size: 18px;
  }

  .reviews__button {
    position: absolute;
    width: 175px;
    right: 50px;
    top: 160px;
  }

  .reviews__toggles {
    position: absolute;
    right: 55px;
    bottom: 116px;
    margin: 0;
  }

  .reviews__toggle {
    width: 50px;
    height: 52px;
    border: none;
    padding: 13px 42px;
  }

  .reviews__toggle::before {
    left: 18px;
  }

  @media (min-resolution: 2dppx) {
    .reviews::before {
      background-image: url("../img/review-image@2x.jpg");
      background-size: 350px 457px;
    }
  }
}

@media (min-width: @desktop-width) {
  .reviews__wrapper {
    width: 875px;
    padding: 123px 50px 152px 225px;
  }

  .reviews::after {
    display: none;
  }

  .reviews__wrapper::after {
    content: "";
    position: absolute;
    width: 1050px;
    height: 23px;
    background-image: url("../img/zigzag-desktop-part.svg");
    bottom: 0;
    left: 50px;
  }

  .reviews::before {
    display: none;
  }

  .reviews__title {
    margin-bottom: 35px;
    position: relative;
  }

  .reviews__title::before {
    content: "";
    position: absolute;
    width: 350px;
    height: 457px;
    background-image: url("../img/review-image.jpg");
    z-index: -1;
    top: -78px;
    left: -174px;
  }

  .reviews__list {
    font-size: 17px;
  }

  .reviews__text {
    margin-bottom: 45px;
    padding-right: 60px;
  }

  .reviews__author {
    font-size: 17px;
  }

  .reviews__button {
    right: 50px;
    top: 165px;
  }

  .reviews__toggles {
    right: 55px;
    bottom: 183px;
    margin: 0;
  }

  @media (min-resolution: 2dppx) {
    .reviews__title::before {
      background-image: url("../img/review-image@2x.jpg");
      background-size: 350px 457px;
    }
  }
}
