.slider__toggles {
  display: flex;
  margin-bottom: 38px;
}

.slider__toggle {
  display: block;
  width: 130px;
  height: 52px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  padding: 13px 42px;
}

@media (min-width: @tablet-width) {
  .slider {
    position: relative;
  }

  .slider__button {
    position: absolute;
    width: 175px;
    left: 487px;
    top: 0;
  }

  .slider__toggles {
    position: absolute;
    left: 497px;
    bottom: 15px;
    gap: 37px;
    margin: 0;
  }

  .slider__toggle {
    width: 50px;
    height: 26px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .slider__button {
    left: 687px;
    top: 0;
  }

  .slider__toggles {
    left: 720px;
    bottom: 15px;
    margin: 0;
  }
}
