.slider {
  position: relative;
}

.slider__toggles {
  display: flex;
  margin-bottom: 38px;
}

.slider__toggle {
  display: block;
  flex-grow: 1;
  width: 130px;
  height: 52px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  padding: 13px 42px;
  position: relative;
  cursor: pointer;

  &:hover::before {
    opacity: 60%;
  }

  &:active::before {
    opacity: 30%;
  }
}

.slider__toggle::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 26px;
  top: 13px;
  left: 38px;
  background-image: url("../img/prev-arrow.svg");
}

.slider__toggle:last-child::before {
  transform: rotate(180deg);
}

@media (min-width: @tablet-width) {
  .slider__button {
    position: absolute;
    width: 175px;
    right: 50px;
    top: 0;
  }

  .slider__toggles {
    position: absolute;
    right: 50px;
    bottom: 15px;
    margin: 0;
  }

  .slider__toggle {
    width: 50px;
    height: 52px;
    border: none;
    padding: 13px 42px;
  }

  .slider__toggle::before {
    left: 18px;
  }
}

@media (min-width: @desktop-width) {
  .slider {
    width: 875px;
    margin: 0 auto;
  }

  .slider__button {
    right: 50px;
    top: 0;
  }

  .slider__toggles {
    right: 50px;
    bottom: 15px;
    margin: 0;
  }
}
