@font-face {
  font-family: "opensans";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/opensans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "opensans";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}
.page {
  box-sizing: border-box;
  font-family: "opensans", sans-serif;
  width: 320px;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.main-header {
  background-color: #ffffff;
  color: #000000;
}
.main-nav {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
}
.main-nav__logo {
  display: block;
  margin-left: 116px;
}
.main-nav__toggle {
  margin-left: 67px;
  width: 20;
  height: 14px;
}
.main-nav__list {
  list-style-type: none;
}
.main-nav__item {
  padding: 28.5px 0 26.5px 0;
  text-align: center;
}
.main-nav__item a {
  text-decoration: none;
  color: #000000;
}
.presentation {
  background-image: url("../../img/index-background.jpg");
  background-position: top;
  padding-top: 73px;
  margin-bottom: 31px;
}
.presentation--catalog {
  background-color: #f1f1f1;
  background-image: none;
  padding-bottom: 73px;
}
.presentation--form {
  background-color: #f1f1f1;
  background-image: none;
  padding-bottom: 73px;
  margin-bottom: 17px;
}
.presentation__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin-bottom: 120px;
}
.presentation__title--catalog {
  margin: 0;
}
.presentation__title--form {
  margin: 0;
}
.products {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.products__item {
  background-color: #63d1bb;
}
.products__item--toys {
  background-color: #56c3b2;
}
.products__link {
  display: block;
  text-decoration: none;
  padding: 24px 160px 31px 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  margin-left: 30px;
}
.featured {
  margin-bottom: 73px;
}
.featured-card__title {
  margin: 0;
  margin-left: 30px;
}
.featured__attention {
  color: #63d1bb;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 17.5px;
  margin-left: 30px;
}
.featured-card__text {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 28px;
  margin-left: 30px;
}
.featured-card__image {
  display: block;
  margin-left: 30px;
}
.featured-card__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 24.5px;
  margin-left: 82px;
}
.featured-card__button {
  margin-left: 30px;
}
.parameters {
  margin-bottom: 27px;
}
.parameters__item {
  display: grid;
  grid-template-columns: 23% auto;
  border-bottom: 1px solid #ececec;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-left: 30px;
}
.parameters__name {
  grid-column: 1;
}
.parameters__description {
  grid-column: 2;
}
.button {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
  padding: 16px 0 16px 0;
  text-align: center;
  width: 260px;
  border: 2px solid #444444;
  text-transform: uppercase;
  background-color: #ffffff;
}
.title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.about {
  margin-bottom: 58px;
}
.about__title {
  margin-bottom: 82px;
  margin-left: 30px;
}
.about__list {
  list-style-type: none;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  padding: 0;
  margin: 0;
  margin-left: 30px;
}
.about__item:not(:last-child) {
  margin-bottom: 83px;
}
.reviews {
  margin-bottom: 89px;
}
.reviews__title {
  margin-bottom: 14px;
  margin-left: 30px;
}
.reviews__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  margin-left: 30px;
}
.reviews__quote {
  margin: 0;
  padding: 0;
}
.reviews__text {
  margin-bottom: 33px;
}
.reviews__cite {
  display: block;
  font-style: normal;
  margin-bottom: 30px;
}
.reviews__author {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
.slider__toggles {
  display: flex;
  margin-bottom: 38px;
  margin-left: 30px;
}
.slider__toggle {
  display: block;
  width: 130px;
  height: 52px;
  padding: 13px 42px;
  border: none;
  background-color: #ffffff;
}
.slider__button {
  margin-left: 30px;
}
.contacts {
  margin-bottom: 39px;
}
.contacts__title {
  margin-bottom: 28px;
  margin-left: 30px;
}
.contacts__address {
  margin-bottom: 30px;
  margin-left: 30px;
}
.contacts__map {
  margin-bottom: 42px;
}
.contacts__button {
  margin-left: 30px;
}
.address__item {
  display: grid;
  grid-template-columns: 15% auto;
  padding-bottom: 40px;
  font-size: 14px;
  line-height: 30px;
}
.address__name {
  grid-column: 1;
}
.address__description {
  grid-column: 2;
}
.address__description--info {
  position: relative;
}
.address__description--info::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 167px;
  border-bottom: 1px solid #62d1ba;
  left: 0;
  top: 25px;
}
.main-footer {
  background-color: #f1f1f1;
  padding: 25px 39px 22px 39px;
}
.main-footer__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}
.social__item {
  margin-right: 29px;
}
.copyright__text {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
}
.copyright {
  display: flex;
  position: relative;
}
.copyright::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 260px;
  border-bottom: 1px solid #e5e5e5;
  bottom: 60px;
  left: -17px;
}
.copyright__link {
  display: block;
  margin-left: 27px;
  margin-top: -8px;
}
.catalog {
  margin-bottom: 30px;
}
.catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.catalog__item {
  border-bottom: 1px solid #ececec;
}
.catalog__item:not(:last-child) {
  margin-bottom: 30px;
}
.catalog__link {
  text-decoration: none;
  color: #000000;
}
.catalog__image {
  display: block;
  margin-left: 30px;
}
.catalog__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 58px;
  margin-bottom: 6px;
}
.catalog__text {
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  margin-left: 58px;
  margin-bottom: 41px;
  position: relative;
}
.catalog__text::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 204px;
  border-bottom: 1px solid #ececec;
  top: 50px;
  right: 42px;
}
.catalog__buy {
  display: flex;
}
.catalog__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 58px;
}
.catalog__button {
  display: block;
  margin-left: 100px;
}
.manufacture {
  margin-bottom: 58px;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
}
.manufacture__title {
  display: block;
  margin-left: 91px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 26.5px;
}
.manufacture__video {
  margin-bottom: 35px;
}
.manufacture__text {
  font-size: 13px;
  line-height: 24px;
  margin-left: 34px;
  margin-bottom: 41px;
}
.manufacture__button {
  margin-bottom: 51px;
  margin-left: 30px;
}
.form__text {
  font-size: 13px;
  line-height: 24px;
  margin-left: 30px;
  margin-bottom: 29px;
}
.form__field {
  border: none;
  padding: 0;
  margin-left: 30px;
}
.form-title {
  text-transform: uppercase;
  color: #63d1bb;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  position: relative;
  margin-bottom: 25px;
}
.form-title:not(:nth-child(n+3))::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 1px;
  border-bottom: 1px solid #62d1ba;
  left: 60px;
  top: 8px;
}
.form-title--email::after {
  content: "";
  position: absolute;
  width: 182px;
  height: 1px;
  border-bottom: 1px solid #62d1ba;
  left: 80px;
  top: 8px;
}
.form-title--add {
  display: block;
  margin-bottom: 23px;
}
.form__tip {
  font-size: 14px;
  line-height: 16px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.form__button {
  margin-left: 30px;
  margin-bottom: 55px;
}
.field__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.field__item {
  margin-bottom: 24px;
}
.control__label {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  margin-left: 20px;
}
.field__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}
.field__input {
  width: 260px;
  border: none;
  font-size: 17px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  padding: 17px 8px 17px 0;
  border-bottom: 2px solid #000000;
  margin-bottom: 22px;
}
.field__input--desired {
  border: 2px solid #000000;
  width: 230px;
  padding: 17px;
  resize: none;
  font-family: "opensans", sans-serif;
  margin-bottom: 17px;
}
/*# sourceMappingURL=style.css.map */
