@font-face {
  font-family: "opensans";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/opensans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "opensans";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}
.page {
  height: 100%;
}
.page__body {
  min-height: 100%;
  min-width: 320px;
  box-sizing: border-box;
  font-family: "opensans", sans-serif;
  margin: 0;
}
@media (min-width: 768px) {
  .page__body {
    min-width: 768px;
  }
}
@media (min-width: 1150px) {
  .page__body {
    min-width: 1150px;
  }
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.input {
  width: 260px;
  border: none;
  font-size: 17px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid #000000;
}
.main-header {
  width: 100vw;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
  background-color: #ffffff;
  color: #000000;
}
.main-header__navigation {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 22px;
  padding-bottom: 22px;
}
.main-header__navigation-container--tablet {
  display: none;
}
.main-header__navigation-container--desktop {
  display: none;
}
.main-header__logo {
  display: block;
  width: 86px;
  margin: 0 auto;
}
.main-header__toggle {
  width: 20px;
  height: 14px;
  position: absolute;
  right: 100px;
  top: 32px;
}
.main-header__list-container {
  width: 100vw;
  margin-left: -30px;
  position: absolute;
  top: 60px;
  background-color: #ffffff;
}
.main-header__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.main-header__list--mobile {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.main-header__item {
  padding: 28.5px 0 26.5px 46px;
}
.main-header__link {
  text-decoration: none;
  color: #000000;
}
.main-header__link--mobile {
  display: block;
}
@media (min-width: 768px) {
  .main-header__navigation {
    padding-top: 0;
    padding-bottom: 10px;
  }
  .main-header__navigation-container--mobile {
    display: none;
  }
  .main-header__navigation-container--tablet {
    display: flex;
    flex-wrap: wrap;
  }
  .main-header {
    padding: 0;
  }
  .main-header__wrapper {
    position: relative;
    max-width: 668px;
    margin: 0 auto;
  }
  .main-header__list--tablet-main,
  .main-header__list--tablet-secondary {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .main-header__list--tablet-main {
    margin-left: auto;
  }
  .main-header__list--tablet-secondary {
    max-width: 360px;
    position: absolute;
    top: 90px;
    z-index: 1;
  }
  .main-header__item--tablet {
    padding: 0;
    font-size: 15px;
    padding-right: 30px;
  }
  .main-header__link--tablet-search {
    width: 18px;
    height: 18px;
    padding: 36px 31px 34px 33px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
  .main-header__item--tablet-search {
    padding-top: 18px;
  }
  .main-header__link--tablet-cart {
    padding: 32.5px 0 33.5px 73px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
  .main-header__item--tablet-cart {
    font-size: 17px;
    padding: 0;
    padding-top: 20px;
  }
  .main-header__logo--tablet {
    padding-top: 12px;
    margin: 0;
  }
}
@media (min-width: 1150px) {
  .main-header {
    padding: 0;
  }
  .main-header__wrapper {
    position: relative;
    max-width: 1050px;
    margin: 0 auto;
  }
  .main-header__navigation {
    padding-top: 0;
    padding-bottom: 0;
  }
  .main-header__navigation-container--tablet {
    display: none;
  }
  .main-header__navigation-container--desktop {
    display: flex;
    justify-content: space-between;
  }
  .main-header__list--desktop-main,
  .main-header__list--desktop-secondary {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .main-header__item--desktop {
    padding: 0;
    padding-top: 20px;
    font-size: 17px;
  }
  .main-header__item--desktop-catalog {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 30px;
  }
  .main-header__link--desktop-catalog {
    padding: 32.5px 30px 33.5px 0;
  }
  .main-header__link--desktop-order {
    padding: 32.5px 0 33.5px 30px;
  }
  .main-header__item--desktop-order {
    padding-top: 30px;
  }
  .main-header__link--desktop-search {
    width: 18px;
    height: 18px;
    padding: 36px 31px 34px 33px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
  .main-header__item--desktop-search {
    padding-top: 30px;
  }
  .main-header__link--desktop-cart {
    padding: 32.5px 0 33.5px 73px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
  .main-header__item--desktop-cart {
    font-size: 17px;
    padding: 0;
    padding-top: 30px;
    padding-right: 0;
  }
  .main-header__logo--desktop {
    margin: 0;
    margin-right: 150px;
    padding-top: 10px;
  }
}
.main-container {
  padding: 0 30px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-container {
    max-width: 668px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .main-container {
    max-width: 1050px;
    padding: 0 50px;
  }
}
.presentation {
  width: 100vw;
  padding-top: 73px;
  background-image: url("../../img/index-background.jpg");
  block-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #f9f9f9;
  margin-bottom: 31px;
  margin-left: -30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.presentation--catalog {
  background-color: #f1f1f1;
  background-image: none;
  padding-bottom: 73px;
}
.presentation--form {
  background-color: #f1f1f1;
  background-image: none;
  padding-bottom: 73px;
  margin-bottom: 17px;
}
.presentation__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin-bottom: 120px;
  margin-left: 10px;
}
.presentation__title--catalog {
  margin: 0;
}
.presentation__title--form {
  margin: 0;
}
.presentation__additional {
  display: none;
}
.presentation__products {
  width: 100vw;
  margin-left: 30px;
}
.presentation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.presentation__item {
  background-color: #63d1bb;
  padding-left: 30px;
}
.presentation__item--toys {
  background-color: #56c3b2;
}
.presentation__link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  padding: 24px 160px 31px 0;
}
@media (min-width: 768px) {
  .presentation {
    background-image: url("../../img/index-background-tablet.jpg");
    background-size: cover;
    padding-top: 0;
    margin-left: 0;
  }
  .presentation__wrapper {
    max-width: 668px;
    margin: 0 auto;
  }
  .presentation__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 372px;
    margin-top: 111px;
    margin-left: 20px;
  }
  .presentation__additional {
    display: flex;
    justify-content: flex-end;
  }
  .presentation__additional-list {
    display: none;
  }
  .presentation__additional-delivery {
    display: block;
    font-size: 15px;
    line-height: 24px;
    padding-top: 14px;
  }
  .presentation__list {
    display: grid;
    grid-template-columns: auto auto;
  }
  .presentation__item {
    padding: 0;
  }
  .presentation__link {
    padding: 25px 167px 34px 36px;
    font-size: 20px;
    line-height: 30px;
  }
  .presentation__products {
    max-width: 668px;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .presentation {
    margin-left: 0;
    background-image: url("../../img/index-background-desktop.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 0;
  }
  .presentation__wrapper {
    max-width: 1050px;
  }
  .presentation__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 355px;
    margin-left: 50px;
  }
  .presentation__additional {
    justify-content: space-between;
    padding-top: 20px;
  }
  .presentation__additional-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .presentation__additional-item:not(:last-child) {
    margin-right: 45px;
  }
  .presentation__additional-delivery {
    font-size: 15px;
    line-height: 24px;
    padding-top: 0;
  }
  .presentation__products {
    max-width: 1050px;
    margin: 0;
  }
}
.featured-card {
  margin-bottom: 73px;
  display: flex;
  flex-direction: column;
}
.featured-card__title {
  margin: 0;
}
.featured-card__attention {
  color: #63d1bb;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 17.5px;
}
.featured-card__text {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 28px;
}
.featured-card__parameters {
  margin-bottom: 27px;
}
.featured-card__item {
  display: grid;
  grid-template-columns: 97px auto;
  border-bottom: 1px solid #ececec;
  padding-bottom: 10px;
  padding-top: 5px;
}
.featured-card__property {
  grid-column: 1;
}
.featured-card__definition {
  grid-column: 2;
}
.featured-card__image {
  display: block;
  width: 100%;
}
.featured-card__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 24.5px;
  align-self: center;
}
@media (min-width: 768px) {
  .featured-card {
    max-width: 668px;
    display: block;
    position: relative;
    padding-right: 218px;
    background-image: url("../../img/knitted-basket-desktop.jpg");
    background-size: 334px 404px;
    background-position: right bottom;
    background-repeat: no-repeat;
  }
  .featured-card__title {
    margin-bottom: 37.5;
  }
  .featured-card__attention {
    width: 100px;
    position: absolute;
    right: 0;
    top: 8px;
    line-height: 17px;
    text-align: center;
  }
  .featured-card__text {
    font-size: 17px;
    line-height: 30px;
    margin-right: 158px;
    margin-bottom: 48px;
  }
  .featured-card__parameters {
    max-width: 300px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 70px;
  }
  .featured-card__image {
    display: none;
  }
  .featured-card__price {
    font-size: 20px;
    margin-left: 67px;
    margin-bottom: 33px;
  }
}
@media (min-width: 1150px) {
  .featured-card {
    max-width: 1050px;
    position: relative;
    padding: 115px 330px 96px 175px;
    background-image: url("../../img/knitted-basket-desktop.jpg");
    background-size: 525px 636px;
    background-position: right 65px;
    background-repeat: no-repeat;
  }
  .featured-card__attention {
    width: 100px;
    position: absolute;
    left: 32px;
    top: 123px;
    line-height: 17px;
    text-align: center;
  }
  .featured-card__title {
    width: 545px;
    margin-bottom: 35px;
  }
  .featured-card__image {
    position: absolute;
    left: 675px;
    top: 100px;
    z-index: -1;
  }
  .featured-card__text {
    margin-bottom: 60px;
    padding-right: 88px;
  }
  .featured-card__parameters {
    margin-bottom: 124px;
  }
  .featured-card__price {
    font-size: 20px;
  }
}
.button {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
  padding: 16px 0 16px 0;
  text-align: center;
  width: 260px;
  border: 2px solid #444444;
  text-transform: uppercase;
  background-color: #ffffff;
}
.button--small {
  width: 192px;
}
.button--thin {
  max-width: 170px;
}
.button--full-width {
  width: 100%;
}
@media (min-width: 768px) {
  .button {
    width: 292px;
  }
}
.title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .title {
    font-size: 53px;
    line-height: 57px;
  }
}
.about {
  margin-bottom: 58px;
}
.about__title {
  margin-bottom: 82px;
}
.about__list {
  list-style-type: none;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  padding: 0;
  margin: 0;
}
.about__item:not(:last-child) {
  margin-bottom: 83px;
}
@media (min-width: 768px) {
  .about__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(235px, 325px));
    column-gap: 60px;
    row-gap: 110px;
    font-size: 20px;
  }
  .about__item--style {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .about__item--like {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .about__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 1150px) {
  .about {
    margin-left: 175px;
  }
}
.reviews {
  margin-bottom: 89px;
}
.reviews__title {
  margin-bottom: 14px;
}
.reviews__list {
  list-style-type: none;
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}
.reviews__quote {
  margin: 0;
  padding: 0;
}
.reviews__text {
  margin-bottom: 33px;
}
.reviews__cite {
  display: block;
  font-style: normal;
  margin-bottom: 30px;
}
.reviews__author {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .reviews {
    position: relative;
    padding-top: 83px;
    padding-bottom: 85px;
    margin-bottom: 46px;
  }
  .reviews::before {
    content: "";
    position: absolute;
    width: 350px;
    height: 457px;
    background-image: url("../../img/review-image.jpg");
    z-index: -1;
    top: 30px;
    left: -50px;
  }
  .reviews__title {
    margin-bottom: 39px;
  }
  .reviews__list {
    font-size: 17px;
  }
  .reviews__text {
    margin-bottom: 61px;
  }
}
@media (min-width: 1150px) {
  .reviews {
    margin-left: 175px;
    margin-bottom: 138px;
  }
  .reviews::before {
    content: "";
    position: absolute;
    width: 350px;
    height: 457px;
    background-image: url("../../img/review-image.jpg");
    z-index: -1;
    top: 50px;
    left: -175px;
  }
  .reviews__title {
    margin-bottom: 35px;
  }
  .reviews__text {
    margin-bottom: 44px;
    padding-right: 60px;
  }
}
.slider__toggles {
  display: flex;
  margin-bottom: 38px;
}
.slider__toggle {
  display: block;
  flex-grow: 1;
  height: 52px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  padding: 13px 42px;
}
@media (min-width: 768px) {
  .slider {
    position: relative;
  }
  .slider__button {
    position: absolute;
    width: 175px;
    right: 0;
    top: 0;
  }
  .slider__toggles {
    position: absolute;
    right: 0;
    bottom: 15px;
    gap: 37px;
    margin: 0;
  }
  .slider__toggle {
    width: 50px;
    height: 26px;
    padding: 0;
  }
}
@media (min-width: 1150px) {
  .slider__button {
    right: 0;
    top: 0;
  }
  .slider__toggles {
    right: 0;
    bottom: 15px;
    margin: 0;
  }
}
.contacts {
  margin-bottom: 39px;
}
.contacts__title {
  margin-bottom: 28px;
}
.contacts__address {
  margin-bottom: 30px;
}
.contacts__item {
  display: grid;
  grid-template-columns: 15% auto;
  font-size: 14px;
  line-height: 30px;
  padding-bottom: 40px;
}
.contacts__name {
  grid-column: 1;
}
.contacts__description {
  grid-column: 2;
}
.contacts__description--info {
  position: relative;
}
.contacts__description--info::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 167px;
  border-bottom: 1px solid #62d1ba;
  left: 0;
  top: 28px;
}
.contacts__map {
  width: 100vw;
  margin-bottom: 42px;
  margin-left: -30px;
}
@media (min-width: 768px) {
  .contacts {
    position: relative;
    margin-bottom: 57px;
  }
  .contacts::after {
    content: "";
    position: absolute;
    width: 47px;
    height: 81px;
    background-image: url("../../img/flag-icon.svg");
    left: 630px;
    bottom: 745px;
  }
  .contacts__address {
    display: grid;
    grid-template-columns: 308px 335px;
    column-gap: 25px;
  }
  .contacts__item {
    font-size: 17px;
  }
  .contacts__description--info::after {
    width: 204px;
  }
  .contacts__map {
    width: 100vw;
    margin-left: -50px;
    margin-bottom: 55px;
  }
  .contacts__button {
    width: 230px;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .contacts {
    margin-left: 175px;
    margin-bottom: 105px;
  }
  .contacts::after {
    left: -100px;
    bottom: 355px;
  }
  .contacts__address {
    display: block;
    margin-bottom: 85px;
  }
  .contacts__item {
    grid-template-columns: 8% auto;
    font-size: 17px;
    padding-bottom: 40px;
  }
  .contacts__map {
    position: absolute;
    top: -35px;
    right: 0;
    width: 60%;
    height: 457px;
    margin-bottom: 55px;
  }
  .contacts__button {
    margin: 0;
  }
}
.main-footer {
  width: 100vw;
  background-color: #f1f1f1;
  padding: 25px 0 22px 0;
  position: relative;
}
.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.main-footer__logo {
  display: none;
}
.main-footer__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0;
}
.main-footer__item {
  margin-right: 31px;
  margin-bottom: 20px;
}
.main-footer__item:last-child {
  margin-right: 0;
}
.main-footer__copyright {
  display: flex;
  position: relative;
  margin: 0 auto;
}
.main-footer::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100vw;
  border-bottom: 1px solid #e5e5e5;
  bottom: 90px;
}
.main-footer__copyright-text {
  display: block;
  padding: 0;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
  margin-left: 29px;
}
.main-footer__copyright-link {
  display: block;
  margin-left: 27px;
  margin-top: -8px;
}
@media (min-width: 768px) {
  .main-footer {
    width: 100vw;
  }
  .main-footer__wrapper {
    max-width: 668px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 51px 0 58px 0;
  }
  .main-footer__logo {
    display: block;
  }
  .main-footer__list {
    margin: 0;
  }
  .main-footer::before {
    display: none;
  }
  .main-footer__copyright {
    margin: 0;
  }
}
@media (min-width: 1150px) {
  .main-footer {
    width: 100vw;
  }
  .main-footer__wrapper {
    max-width: 1050px;
  }
}
.catalog {
  margin-bottom: 30px;
}
.catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.catalog__item {
  border-bottom: 1px solid #ececec;
}
.catalog__item:not(:last-child) {
  margin-bottom: 30px;
}
.catalog__link {
  text-decoration: none;
  color: #000000;
}
.catalog__image {
  display: block;
}
.catalog__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 28px;
  margin-bottom: 6px;
}
.catalog__text {
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  margin-left: 28px;
  margin-bottom: 41px;
  position: relative;
}
.catalog__text::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 204px;
  border-bottom: 1px solid #ececec;
  top: 50px;
  right: 42px;
}
.catalog__buy {
  display: flex;
}
.catalog__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 28px;
}
.catalog__button {
  display: block;
  margin-left: 100px;
}
.manufacture {
  margin-bottom: 58px;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
}
.manufacture__title {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 91px;
  margin-bottom: 26.5px;
}
.manufacture__video {
  margin-bottom: 35px;
}
.manufacture__text {
  font-size: 13px;
  line-height: 24px;
  margin-left: 34px;
  margin-bottom: 41px;
}
.manufacture__button {
  margin-bottom: 51px;
  margin-left: 34px;
}
.order__text {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 29px;
}
.order__field {
  padding: 0;
}
.order__tip {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
}
.order__button {
  margin-bottom: 55px;
}
.field {
  border: none;
}
.field__name {
  text-transform: uppercase;
  color: #63d1bb;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  position: relative;
  margin-bottom: 25px;
}
.field__name:not(:nth-child(n+3))::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 1px;
  border-bottom: 1px solid #62d1ba;
  left: 60px;
  top: 8px;
}
.field__name--email::after {
  content: "";
  position: absolute;
  width: 182px;
  height: 1px;
  border-bottom: 1px solid #62d1ba;
  left: 80px;
  top: 8px;
}
.field__name--add {
  display: block;
  margin-bottom: 23px;
}
.field__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.field__item {
  margin-bottom: 24px;
}
.field__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}
.field__input {
  padding: 17px 8px 17px 0;
  margin-bottom: 22px;
}
.field__input--desired {
  border: 2px solid #000000;
  width: 230px;
  padding: 17px;
  resize: none;
  font-family: "opensans", sans-serif;
  margin-bottom: 17px;
}
.control__label {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  margin-left: 20px;
}
/*# sourceMappingURL=style.css.map */
